/********************** Main CSS *************/
body {
    margin: 0;
}

.v-container {
    max-width: 100vh !important;
}

.choiceGrid .v-card {
    margin: 10px;
}

.leftContent {
    max-width: 12.95% !important;
}

.leftContent h4 {
    width: 100%;
    text-align: center;
    top: 5px;
    position: relative;
}

.contentLeft {
    left: 0px !important;
    position: relative;
    overflow-x: auto;
    top: 0px !important;
    width: 200px !important;
    height: 100vh !important;
}

.contentRight {
    position: relative;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
}

.tableEditor {
    width: 100% !important;
    position: relative;
}

.tableEditor .buttonBar {
    padding: 5px;
    top: 15px;
    position: relative;
    float: left;
    left: 0px;
}

.buttonBar button {
    margin-right: 5px;
}

.rightCsv {
    float: right;
    position: relative;
    top: 10px;
}

.insertAddBtn {
    top: -17px;
    position: relative;
    left: 5%;
}

.rightAddBtn {
    top: 25px;
    margin-bottom: 51px;
    display: block !important;
}

.ag-theme-alpine { /** Content Editor */
    min-width: 100% !important;
    height: 100vh;
    position: relative;
    top: 11px !important;
    background-color: transparent !important;
}

.form-wrapper {
    padding: 2em;
    border: 1px solid #a8a8a8;
    border-radius: .5em;
    box-sizing: border-box;
    width: 100% !important;
  }
  
  .form-wrapper input {
    min-width: 50px !important;
  }
  
  .form-wrapper button {
    background-color: rgb(52, 109, 216);
    border: none;
    color: white;
    padding: 5px;
    margin: 5px;
  }

/******************* Main Section CSS *********/

#mainSection {
    top: 5px;
    position: relative;
    left: 57px;
    max-width: 100% !important;
}


/******************** Sidebar CSS *************/

#sidebarNav {
    height: 92vh !important;
    left: 0px;
    float: left;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

/********************* Metrics CSS ***********/

.metricsVcard {
    height: 100vh !important;
    width: 100%;
    top: -5px;
    margin: 0px;
}

.metricsWindowRight {
    width: 80%;
    height: 83vh !important;
    overflow: scroll;
}

.metricsVcard h4 {
    padding: 10px;
}

.databaseSections {
    width: 100%;
    position: relative;
    height: 83vh !important;
    overflow: scroll;
}