/********************** Main CSS *************/
body {
    margin: 0;
}

.logobrand {
    text-decoration: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(41, 40, 40);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 999999 !important;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

#checkbox-10443 {
    border: 1px solid white !important;
}

.v-container {
    max-width: 100vh !important;
}

.choiceGrid .v-card {
    margin: 10px;
}

.leftContent {
    max-width: 210px !important;
}

.leftContent h4, .leftContent h6 {
    width: 100%;
    text-align: center;
    top: 0px;
    position: relative;
}

.contentLeft {
    left: 0px !important;
    position: relative;
    overflow-x: auto;
    top: 0px !important;
    width: 200px !important;
    height: 100vh !important;
}

.contentLeft h4, .contentLeft h6 {
    padding: 15px;
}

.contentRight {
    position: relative;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
}

.tableEditor {
    width: 100% !important;
    position: relative;
}

.tableEditor .buttonBar {
    padding: 5px;
    top: 15px;
    position: relative;
    float: left;
    left: 0px;
}

.buttonBar button {
    margin-right: 5px;
}

.rightCsv {
    float: right;
    position: relative;
    top: 10px;
}

.insertAddBtn {
    top: 10px;
    position: relative;
    margin-bottom: 35px;
}

.rightAddBtn {
    top: 25px;
    margin-bottom: 51px;
    display: block !important;
}

.ag-theme-alpine { /** Content Editor */
    min-width: 100% !important;
    height: 100vh;
    position: relative;
    top: 11px !important;
    --ag-background-color: transparent !important;
    --ag-border-color: transparent !important;
    --ag-secondary-border-color: transparent !important;
    --ag-header-background-color: transparent !important;
    --ag-odd-row-background-color: transparent !important;
    --ag-control-panel-background-color: transparent !important;
    --ag-subheader-background-color: transparent !important;
}

.form-wrapper {
    padding: 2em;
    border: 1px solid #a8a8a8;
    border-radius: .5em;
    box-sizing: border-box;
    width: 100% !important;
  }
  
  .form-wrapper input {
    min-width: 50px !important;
  }
  
  .form-wrapper button {
    background-color: rgb(52, 109, 216);
    border: none;
    color: white;
    padding: 5px;
    margin: 5px;
  }

/******************* Main Section CSS *********/

#mainSection {
    top: 5px;
    position: relative;
    left: 57px;
    max-width: 100% !important;
    height: 95vh;
    overflow-y: scroll
}

.homeSection {
    padding: 45px;
}

.homeSection a {
    text-decoration: none;
}

.homeTitle, .homeDescription {
    padding: 5px;
}

.homeRows {
    color: white;
}

.homeRight {
    padding: 15px;
}

.emailTemplates {
    padding-top: 10px;
    padding-bottom: 10px;
}

/******************** Sidebar CSS *************/

#sidebarNav {
    height: 94vh !important;
    left: 0px;
    float: left;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

/********************* Metrics CSS ***********/

.metricsVcard {
    min-height: 100% !important;
    width: 100%;
    top: -5px;
    margin: 0px;
}

.metricsWindowRight {
    width: 80%;
    height: 83vh !important;
    overflow: scroll;
}

.metricsVcard h4 {
    padding: 10px;
}

.databaseSections {
    width: 100%;
    position: relative;
    height: 83vh !important;
    overflow: scroll;
}

/********************** Media Manager CSS ***********/

.mediaManager, .mediaManager img {
    width: 200px;
    height: 200px;
}

.mediaOptions {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    max-width: 100% !important;
}

.mediaUpload {
    position: relative;
    top: 15px;
    height: 100%;
}

/************************* Database CSS ***************/

.apiStudio, .apiDocs, .dataLogs {
    width: 98%;
    height: 95vh;
}

/*************** Footer ***************************/

.footerHelp {
    position: fixed;
    bottom: 5px;
    right: 5px;
    float: right;
    z-index: 99999999;
}